.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding-right: 3%;
    padding-left: 3%;
}

.inline {
    display:inline-block;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #EEEADE;
    font-size: xx-large;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    color: #EEEADE;
}

a {
    color: #3cdfff;
}

body {
    background-color: #008080;
}